[submodule "libs/pythonnet-stub-generator"]
	path = libs/pythonnet-stub-generator
	url = git@github.com:trgiangv/pythonnet-stub-generator.git
	branch = devtools/main
[submodule "libs/HandyControl"]
	path = libs/HandyControl
	url = https://github.com/trgiangv/HandyControl.git
	branch = devtools/main
